# Dependencias
node_modules/

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Datos de la aplicación
data/

# Directorio de construcción
build/
dist/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Sistema operativo
.DS_Store
Thumbs.db